* {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', sans-serif;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;

}

html {
  overflow-x: hidden;
}

body {
  height: auto;
}

.left {
  position: absolute;
  background: white;
  width: 50vw !important;
  overflow-x: visible;
  height: 100vh;
  max-height: 1600px;
  left: 0;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.17);
  z-index: -10;

}

.right {
  position: absolute;
  right: 0;
  background: linear-gradient(140deg, #00EBFF, #8900FF);
  width: 50vw;
  height: 100vh;
  max-height: 1600px;

}

.header-container {
  width: 1170px;
  height: 100vh;
  max-height: 1600px;
  margin: auto;
}

.container {
  width: 1170px;
  height: auto;
  margin: auto;
}

.nav {
  padding-top: 3em;
}

#logo {
  font-weight: 600;
  font-size: 15pt;
  color: #4e4e4e;
}

.nav li {
  display: inline-block;
  padding-right: 4.6em;
  font-size: 11pt;
  color: black;
}


a:visited {
    color: black;
}

#nav-link {
  position: relative;
  transition: 0.4s ease-in-out;
}

#nav-link:hover {

}


.nav button {
  border: 1px solid rgba(0,0,0,0.6);
  padding: 1em 2.6em;
  font-size: 11pt;
  background: transparent;
  transition: 0.2s ease-in-out;
}


.nav button:hover {
  background: #4e4e4e;
  color: white;

}



/* SASS */

.btn {
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 11pt;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  transition: 0.6s ease-in-out;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  top: 12px;
}

.btn:hover {
  text-decoration: none;
  letter-spacing: 0.5px;
}

.btn-1 {
  background: none;
  font-weight: 100;
  text-align: center;
  transition: 0.6s ease-in-out;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke: black;
  stroke-width: 1.3;
  stroke-dasharray: 422, 0;
}

.btn-1:hover {
  background: rgba(255, 255, 255, 0);

}
.btn-1:hover rect {
  stroke-width: 1.3;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}


.header-text h1 {
  padding-top: 6em;
  font-size: 25pt;
  padding-bottom: 1em;
  font-weight: 500;
  color: #4e4e4e;
}

.header-text hr {
  width: 7em;
  border: 1px solid #4e4e4e;
  position: relative;
  right: 3em;


}

.header-text p {
  width: 450px;
  line-height: 2;
  padding-top: 2em;
}

#scrolldown {
  padding-top: 8em;
  width: 90px;
  position: relative;
  transition: 0.4s ease-in-out;
}

#scrolldown :hover {
  cursor: pointer;
  margin-top: 10px;
}

#carousel {
  position: absolute;
  float: right;
  height: 85vh;
  top: 55px;
  left: 58vw;
}


#design {
  font-size: 120pt;
  position: absolute;
  top: 60px;
  color: rgba(0,0,0,0.08);
}

.design-body {
  top: 50px;
  padding-top: 2em;
  position: relative;
  display: block;
  height: 800px;
}

.design-body img {
  width: 600px;
  float: left;
  box-shadow: 0px 25px 40px rgba(0,0,0,0.16);
}


.design-content h1 {
  text-align: right;
  font-size: 22pt;
  color: #4e4e4e;
  font-weight: 500;
  padding-bottom: 1em;
}

.design-content hr {
  width: 10em;
  border: 1px solid #4e4e4e;
  position: relative;
  left: 3em;
  float: right;
}


.design-content p {
  text-align: right;
  float: right;
  line-height: 2;
  padding-top: 2em;
  font-size: 10.7pt;
  width: 500px;
}

.design-content a {
  float: right;
  margin-top: 2em;
  padding: 0.5em 2em;
  transition: 0.6s ease-in-out;
}

.design-content a:hover {
  letter-spacing: 0.5px;
}

.design-content svg {
  height: 4em;
}

.design-content {
  height: auto;
  position: relative;
  top: 350px;
}

.dev-body {
  background: linear-gradient(140deg, #00EBFF, #8900FF);
  width: 100%;
  display: block;
  position: relative;
  top: 150px;
  height: 950px;
}

#development {
  font-size: 100pt;
  position: absolute;
  overflow: hidden !important;
  right: 140px;
  top: 80px;
  color: rgba(255,255,255,0.3);
}

.dev-content {
  position: relative;
  top: 280px;
  height: 500px;
  display: flex;
}



.tile-wrapper {
  margin: auto;
  width: 1150px;
  padding: 0;

}

.text-tile {
  background: white;
  box-shadow: 0px 25px 40px rgba(0,0,0,0.17);
  height: auto;
  padding: 5em 1em 3em 6em;
  width: 600px;
  margin: auto;
  display: inline-block;
  position: relative;
  z-index: 100;

}

.text-tile h1 {
  color: #4e4e4e;
  font-size: 22pt;
  font-weight: 500;
  padding-bottom: 1em;

}


.text-tile hr {
  width: 7em;
  border: 1px solid #4e4e4e;
  position: relative;
  right: 2em;
}

.text-tile p {
  font-size: 11pt;
  padding-top: 2em;
  line-height: 2;
  width: 500px;
  padding-bottom: 2em;
}


.text-tile a {
  float: left;
  margin-top: 0.6em;
  padding: 0.5em 2em;
  transition: 0.6s ease-in-out;
}

.text-tile a:hover {
  letter-spacing: 0.5px;
}

.text-tile svg {
  height: 4em;
}


.code-tile {
  box-shadow: 0px 25px 40px rgba(0,0,0,0.17);
  z-index: 10000;
  display: inline-block;
  width: 500px;
  height: 300px;
  position: absolute;
  margin-left: -90px;
  margin-top: 60px;

}

.code-tile img {
  width: 100%;
  height: 100%;
}




/* Why Body */

.why-body {
  position: relative;
  top: 180px;
  display: block;
  padding-top: 3em;
}

.why-container {
  width: 1170px;
  margin: auto;
}

.why-container a {
  justify-content: center;
  display: block;
  margin-top: 3em;
  padding: 0.5em 2em;
  transition: 0.6s ease-in-out;
}


.why-container svg {
  height: 4em;
}

#whyus {
  font-size: 120pt;
  position: relative;
  top: 60px;
  color: rgba(0,0,0,0.05);
}


.why-body hr {
  width: 400px;
  border: 1px solid #4e4e4e;
  position: relative;
  float: right;
  top: -2.7em;

}



.tile-container {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 7em;

}

.tiles {
    min-width: 300px;
    max-width: 300px;
    height: auto;
    margin: 3em 0;

}


.content {
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
}


.content p {
    font-family: 'Avenir', sans-serif;
    font-size: 11pt;
    font-weight: 100;
    line-height: 2;
    width: 90%;
    margin: auto;
    margin-top: 2em;

}

.content img {
    width: 90px;
    box-shadow: 0px 9px 15px rgba(0,0,0,0.17);
    border-radius: 100%;
    margin-bottom: 3em;
    transition: 0.2s ease-in-out;
}

.tile-container h2 {
  font-weight: 500;
  font-size: 13pt;
  color: #4e4e4e;
}

.content img:hover {
  box-shadow: 0px 15px 35px rgba(0,0,0,0.17);
}




@media screen and (max-width: )
