* {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', sans-serif;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;

}

@keyframes pandown {
  0% {position: relative; top: -50px; opacity: 0; transform: rotate(5deg);}
  100% {position: relative; top: 0;}
}


@keyframes panup {
  0% {position: relative; top: 50px; opacity: 0; transform: rotate(-5deg);}
  100% {position: relative; top: 0;}
}


@keyframes panout {
  0% {position: relative; top: 0; }
  100% {position: relative; top: -50px; opacity: 0; transform: rotate(5deg);}
}

@keyframes slidein {
  0% {left: 53vw; opacity: 0;}
  100% {left: 51vw; opacity: 1;}
}


@keyframes slidein-lg {
  0% {left: 52vw; opacity: 0;}
  100% {left: 51vw; opacity: 1;}
}





a:link {
  color: black;
}

@fontface {
  font-family: 'Avenir';
  src: url("assets/fonts/Avenir.ttc");
}



html {
  overflow-x: hidden;
}

body {
  height: auto;
}

.left {
  position: absolute;
  background: white;
  width: 50vw;
  overflow-x: visible;
  height: 100vh;
  max-height: 1600px;
  left: 0;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.17);
  z-index: -10;

}

.right {
  position: absolute;
  right: 0;
  background: linear-gradient(140deg, #00EBFF, #8900FF);
  width: 50vw;
  height: 100vh;
  max-height: 1600px;

}

.header-container {
  width: 1170px;
  height: 100vh;
  max-height: 1600px;
  margin: auto;
}

.container {
  width: 1170px;
  height: auto;
  margin: auto;
}

.nav {
  padding-top: 3em;
}

#logo {
  font-weight: 600;
  font-size: 15pt;
  color: #4e4e4e;
}

.nav li {
  display: inline-block;
  padding-right: 4.6em;
  font-size: 11pt;
  color: black;
}


a:visited {
    color: black;
}

#nav-link {
  position: relative;
  transition: 1s ease-in-out;
  padding-bottom: 4px;
}

#nav-link:hover {
  border-bottom: 1px solid black;
}


.nav button {
  border: 1px solid rgba(0,0,0,0.6);
  padding: 1em 2.6em;
  font-size: 11pt;
  background: transparent;
  transition: 0.2s ease-in-out;
}


.nav button:hover {
  background: #4e4e4e;
  color: white;

}


.mobile-nav {
  display: none;
  position: relative;
  z-index: 1000 !important;
}

#burger {
  display: none;
}




.burger {
  margin-top: 0.6em;
  z-index: 10000 !important;
}





.mobile-menu {
  z-index: 1;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background:white;
}

.mobile-menu ul {
  font-size: 60pt;
  margin-top: 31vh;
  margin-left: 15vw;
}


.mobile-menu li {
  list-style: none;
  font-weight: 500;
  line-height: 3;
}

.mobile-menu a {
  color: #4e4e4e;
}









/* SASS */

.btn {
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 11pt;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  transition: 0.6s ease-in-out;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  top: 12px;
}


.btn-1 {
  background: none;
  font-weight: 100;
  text-align: center;
  transition: 0.6s ease-in-out;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke: black;
  stroke-width: 1.3;
  stroke-dasharray: 422, 0;
}

.btn-1:hover {
  background: rgba(255, 255, 255, 0);

}
.btn-1:hover rect {
  stroke-width: 1.3;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}


.header-text h1 {
  padding-top: 4.4em;
  font-size: 28pt;
  padding-bottom: 1em;
  font-weight: 500;
  color: #4e4e4e;
  animation: pandown 1.5s ease-in-out;
}

.header-text hr {
  width: 7em;
  border: 1px solid #4e4e4e;
  position: relative;
  right: 3em;


}

.header-text p {
  width: 450px;
  font-size: 11.5pt;
  line-height: 2.4;
  padding-top: 2em;
  animation: panup 1.5s ease-in-out;
}

#scrolldown {
  padding-top: 8em;
  width: 90px;
  position: relative;
  transition: 0.4s ease-in-out;
}

#scrolldown:hover {
  cursor: pointer;
  margin-top: 10px;
}

#carousel {
  position: absolute;
  float: right;
  height: 110vh;
  top: -20px;
  left: 51vw;
  animation: slidein 1s ease-in;

}

#design {
  font-size: 120pt;
  position: absolute;
  top: 60px;
  color: rgba(0,0,0,0.05);
}

.design-body {
  top: 50px;
  padding-top: 2em;
  position: relative;
  display: block;
  height: 750px;
}

.design-body img {
  width: 600px;
  float: left;
  box-shadow: 0px 25px 40px rgba(0,0,0,0.16);
}


.design-content h1 {
  text-align: right;
  font-size: 22pt;
  color: #4e4e4e;
  font-weight: 500;
  padding-bottom: 1em;
}

.design-content hr {
  width: 10em;
  border: 1px solid #4e4e4e;
  position: relative;
  left: 3em;
  float: right;
}


.design-content p {
  text-align: right;
  float: right;
  line-height: 2.4;
  padding-top: 2em;
  font-size: 11.5pt;
  width: 500px;
}

.design-content a {
  float: right;
  margin-top: 2em;
  padding: 0.5em 2em;
}

.design-content svg {
  height: 4em;
}

.design-content {
  height: auto;
  position: relative;
  top: 300px;
}

.dev-body {
  background: linear-gradient(140deg, #00EBFF, #8900FF);
  width: 100%;
  display: block;
  position: relative;
  top: 150px;
  height: 1100px;
}

#development {
  font-size: 100pt;
  position: absolute;
  overflow: hidden !important;
  top: 150px;
  margin-left: 8%;
  color: rgba(255,255,255,0.3);
}

.dev-content {
  position: relative;
  top: 400px;
  height: 500px;
  display: flex;
}



.tile-wrapper {
  margin: auto;
  width: 1150px;
  padding: 0;

}

.text-tile {
  background: white;
  box-shadow: 0px 25px 40px rgba(0,0,0,0.17);
  height: auto;
  padding: 5em 1em 3em 6em;
  width: 600px;
  margin: auto;
  display: inline-block;
  position: relative;
  z-index: 100;

}

.text-tile h1 {
  color: #4e4e4e;
  font-size: 22pt;
  font-weight: 500;
  padding-bottom: 1em;

}


.text-tile hr {
  width: 7em;
  border: 1px solid #4e4e4e;
  position: relative;
  right: 2em;
}

.text-tile p {
  font-size: 11.5pt;
  padding-top: 2em;
  line-height: 2.4;
  width: 500px;
  padding-bottom: 2em;
}


.text-tile a {
  float: left;
  margin-top: 0.6em;
  padding: 0.5em 2em;
  transition: 0.6s ease-in-out;
}


.text-tile svg {
  height: 4em;
}


.code-tile {
  box-shadow: 0px 25px 40px rgba(0,0,0,0.17);
  z-index: 10000;
  display: inline-block;
  width: 500px;
  height: 300px;
  position: absolute;
  margin-left: -60px;
  margin-top: 90px;

}

.code-tile img {
  width: 100%;
  height: 100%;
}




/* Why Body */

.why-body {
  position: relative;
  top: 140px;
  display: block;
  padding-top: 11em;
}

.why-container {
  width: 1170px;
  margin: auto;
}

.why-container a {
  justify-content: center;
  display: block;
  margin-top: 6em;
  padding: 0.5em 2em;
  transition: 0.6s ease-in-out;
}


.why-container svg {
  height: 4em;
}

#whyus {
  font-size: 120pt;
  position: relative;
  top: 60px;
  color: rgba(0,0,0,0.05);
}


.why-body hr {
  width: 400px;
  border: 1px solid #4e4e4e;
  position: relative;
  float: right;
  top: -2.7em;

}



.tile-container {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 7em;

}

.tiles {
    min-width: 300px;
    max-width: 300px;
    height: auto;
    margin: 3em 0;

}


.content {
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
}


.content p {
    font-family: 'Avenir', sans-serif;
    font-size: 11pt;
    font-weight: 100;
    line-height: 2;
    width: 90%;
    margin: auto;
    margin-top: 2em;

}

.content img {
    width: 90px;
    box-shadow: 0px 9px 15px rgba(0,0,0,0.17);
    border-radius: 100%;
    margin-bottom: 3em;
    transition: 0.2s ease-in-out;
}

.tile-container h2 {
  font-weight: 500;
  font-size: 15pt;
  color: #4e4e4e;
}

.content img:hover {
  box-shadow: 0px 15px 35px rgba(0,0,0,0.17);
}



.projects {
  display: block;
  position: relative;
  top: 350px;
  height: 1375px;
  overflow: hidden;

}

#slices {
  width: 80vw;
  position: absolute;
  left: -42vw;
  z-index: -1 !important;
}

#secondslice {
  position: absolute;
  width: 31vw;
  visibility: hidden;
  right: -10%;
}

#appmockup {
  width: 70vw;
  left: -20vw;
  position: absolute;
  z-index: 1000 !important;
  padding-top: 1em;

}


#projects {
  font-size: 120pt;
  font-weight: 600;
  color: rgba(0,0,0,0.05);

}

.mockup-text {
  text-align: right;
  width: 700px;
  height: 100%;
  float: right;
  vertical-align: middle;
  padding-top: 13%;

}

.mockup-text h2 {
  text-align: right;
  font-size: 22pt;
  color: #4e4e4e;
  font-weight: 500;
  padding-bottom: 1em;
}

.mockup-text p {
  text-align: right;
  float: right;
  line-height: 2.4;
  padding-top: 2em;
  font-size: 11.5pt;
  width: 600px;
}

.mockup-text hr {
  width: 10em;
  border: 1px solid #4e4e4e;
  position: relative;
  left: 3em;
  float: right;
}


.mockup-text a {
  float: right;
  margin-top: 2em;
  padding: 0.5em 2em;
  transition: 0.6s ease-in-out;
}


.mockup-text svg {
  height: 4em;
}

.team {
  display: block;
  position: relative;

}


.philosophy {
  text-align: center;
}

.philosophy h1 {
  font-size: 30pt;
  color: #4e4e4e;
  font-weight: 500;
  padding-bottom: 1em;
}

.philosophy hr {
  width: 9em;
  border: 1px solid #4e4e4e;
  position: relative;
  margin: auto;
}

.philosophy p {
  padding-top: 2em;
  font-size: 20pt;
  color: rgba(0,0,0,0.5);
  line-height: 2;
  font-style: italic;
  font-family: 'Times', 'Times New Roman', serif;
}


.founders {
  height: 623px;
  display: block;
  margin-top: 10em;
}

.dylan {
  display: inline-block;
  position: absolute;
  width: 630px;
  z-index: -1;
}

.dylan h3 {
  font-size: 18pt;
  color: #4e4e4e;
  font-weight: 500;
}

.dylan p {
  padding-top: 1em;
}


.dylan .image {
  box-shadow: 0px 25px 40px rgba(0,0,0,0.17);
  height: 500px;
  margin-bottom: 3em;
  z-index: -1;
  background-image: url('assets/images/1.jpg');
  background-repeat: no-repeat;
  background-size: 120%;

}

.tommi {
  display: inline-block;
  width: 630px;
  float: right;

}


.tommi .image {
  box-shadow: 0px 25px 40px rgba(0,0,0,0.17);
  height: 500px;
  margin-top: 3em;
  background-image: url('assets/images/tommi.jpg');
  z-index: 10000;
  background-repeat: no-repeat;
  background-size: cover;
}

.tommi h3 {
  text-align: right;
  font-size: 18pt;
  color: #4e4e4e;
  font-weight: 500;

}

.tommi p {
  text-align: right;
  padding-top: 1em;
}

.mobile-name {
  display: none;
}


footer {
  height: 400px;
  width: 100%;
  display: block;
  box-shadow: 0px 8px 40px rgba(0,0,0,0.16);
  clear: both;
  position: relative;
  top: 200px;
}

.footer-left {
  width: 49vw;
  height: 100%;
  display: inline-block;
  float: left;
}

.footer-right {
  display: inline-block;
  background: linear-gradient(140deg, #00EBFF, #8900FF);
  width: 49vw;
  height: 100%;
  float: right;
}

.footer-right h1 {
  margin: auto;
  display: block;
  margin-top: 26%;
  color: white;
  font-weight: 200;
  text-align: center;
  font-size: 17pt;
}

.footer-right a {
  color: white;
  font-weight: 500;
  border-bottom: 1px solid white;
  padding-bottom: 4px;
  transition: 0.4s ease-in-out;
}

.footer-right a:hover {
  position: relative;
}

footer img {
  width: 35px;
  position: relative;
  top: -1.3em;
  margin-left: -10em;
}

footer ul {
  padding-left: 10em;
  padding-top: 2.3em;
  overflow: hidden;

}

footer li {
  line-height: 4;
  list-style: none;
}

.slideout {
  transition: 0.1s ease-in-out;
}

.slideout:hover {
  padding-left: 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

#copyright {
  position: relative;
  top: -2em;
}



@media screen and (max-width: 1000px) {

  body {
    overflow: hidden !important;
  }

  .nav {
    display: none;
  }


  .mobile-nav {
    display: block;
    margin-top: 9em;
    list-style: none;
    display: inline-block;
    width: 100%;
    z-index: 100000 !important;
  }

  .burger {
    width: 70px;
    display: inline-block;
    height: 70px;
    float: right;
    outline: none;
    background: none;
    border: none;

  }



  #top {
    width: 100%;
    background: #4e4e4e;
    height: 6px;

  }

  #bottom {
    width: 100%;
    background: #4e4e4e;
    margin-top: 2em;
    height: 6px;

  }


  #logo {
    font-size: 40pt;
    position: absolute;
  }

  #carousel {
    display: none;
  }

  .header-container {
    display: block;
    margin: auto;
    width: 70vw;
    height: 100vh;

  }

  .header-text h1 {
    font-size: 60pt;
  }

  .header-text hr {
    width: 300px;
    margin-bottom: 2em;
  }

  .header-text p {
    font-size: 28pt;
    width: 100%;
  }

  #scrolldown {
    width: 200px;
    margin-top: 10px;
  }

  .left {
    width: 100vw;
    height: 100vh;
    box-shadow: 0px 0px 100px rgba(0,0,0,0.16);
  }

  .right {
    display: none;
  }

  #design {
    position: static;
    font-size: 240pt;
    font-weight: 600;
    display: block;
    text-align: left;
    margin-left: -110px;
    width: 100vw;

  }

  .design-body {
    height: 1750px;
  }

  .container {
    width: 100vw;
    margin: auto;
  }


  .design-content img {
    width: 87vw;
    display: block;
    float: none;
    margin: auto;
    box-shadow: 0px 25px 60px rgba(0, 0, 0, 0.17);
    margin-top: -17em;
    margin-bottom: 8em;

  }

  .design-content {
    display: block;
    width: 100vw;

  }

  .text-wrapper {
    display: block;
    clear: both;
    width: 100%;
    height: 1000px;
    text-align: right;
    padding-right: 200px;
  }

  .text-wrapper h1 {
    font-size: 50pt;
    padding-right: 2em;
    display: block;
    position: static;
  }

  .text-wrapper hr {
    margin-right: 8em;
    width: 16em;
    border: 2px solid #4e4e4e;
  }

  .text-wrapper p {
    font-size: 20pt;
    width: 75vw;
    padding-right: 3.8em;
    display: block;
    position: static;
    margin-bottom: 1em;
  }

  .design-content a {
    font-size: 25pt;
    padding: 1.5em 3em;
    margin-right: 3em;

  }

  .btn {
    max-width: 350px;
    padding-right: 0;
}


  #development {
    top: 50px;
    font-size: 230pt;
    left: -160px;
  }

  .dev-body {
    top: 500px;
    height: 1250px;
  }

  .dev-body {
    height: 2000px;
    display: flex;
    justify-content: center;

  }

  .dev-body .container {
    margin-bottom: 0;
    margin-top: 150px;
  }



  .code-tile {
    display: none;

  }

  .tile-wrapper {
    height: 1460px;
  }

  .text-tile {
    width: 80vw;
    height: 1320px;
    display: block;
    margin: auto;
    padding: 1em;
  }


  .text-tile h1 {
    font-size: 50pt;
    padding-top: 2em;
    margin: auto;
    text-align: left;
    text-align: center;
  }

  .text-tile hr {
    margin: auto;
    width: 15em;
    border: 2px solid #4e4e4e;
    position: relative;
    right: 0;
  }

  .text-tile p {
    font-size: 27pt;
    margin: auto;
    text-align: center;
    width: 78%;
  }


  .text-tile a {
    font-size: 27pt;
    padding: 1.4em 3em;
    float: none;
    top: 1em;
    display: block;
    margin: auto;


}


  .why-body {
    top: 450px;
    width: 100vw;
  }

  .why-container {
    width: 100vw;
  }

  .why-body hr {
    display: none;
  }

  #whyus{
    font-size: 200pt;
    text-align: center;
    position: static;
    margin: auto;
    display: block;
    margin-top: 0.3em;
    margin-bottom: 0.7em;
  }

  .tile-container {
    display: block;
  }

  .tiles {
    max-width: 80vw;
    margin: auto;
    width: 80vw;
    display: block;
    margin-bottom: 15em;
  }

  .content img {
    width: 250px;
  }

  .content h2 {
    font-size: 23pt;
    margin-top: 2em;
  }

  .content p {
    width: 90%;
    font-size: 11.5pt;
    margin-top: 2em;
  }


  .why-body a {
    font-size: 26pt;
    padding: 1.5em 3em;
    float: none;
    top: 1em;
    display: block;
    margin: auto;
    margin-top: -2em;
    margin-bottom: 13em;
  }

  #slices {
    top: 0px;
    width: 210vw;
    left: -110vw;
  }

  #appmockup {

    width: 120vw;
    margin: auto;
    left: -5vw;
  }

  .mockup-text {
    padding-top: 1300px;
    width: 70vw;
    height: 2000px;
    display: block;
    position: static;
    margin: auto;
    float: none;
  }

  .projects {
    height: 3000px;
  }

  #projects {
    font-size: 150pt;
  }

  .mockup-text h2 {
    font-size: 50pt;
    margin-top: 1em;
  }

  .mockup-text hr {
    border: 2px solid #4e4e4e;
  }

  .mockup-text p {
    font-size: 25pt;
    width: 100%;
  }

  .mockup-text a {
    font-size: 25pt;
    padding: 1.4em 3em;
    margin-top: 3em;

  }


  .team {
    top: 400px;
  }

  .philosophy h1 {
    font-size: 50pt;
  }

  .founders {
    height: 2000px;
  }

  .philosophy hr {
    border: 2px solid #4e4e4e;
  }


  .philosophy p {
    font-size: 25pt;
    width: 80vw;
    margin: auto;
  }


  .dylan {
    display: block;
    position: static;
    margin: auto;
    width: 80vw;
  }

  .dylan h3 {
    margin-top: 2em;
    font-size: 40pt;

  }

  .dylan p {
    font-size: 25pt;
    line-height: 2;
  }

  .mobile-name {
    display: block;
    margin-top: 5em;
  }

  .mobile-name h3 {
    font-size: 40pt;
    text-align: left;
  }

  .mobile-name p {
    font-size: 25pt;
    line-height: 2;
    text-align: left;
  }

  .tommi {
    display: block;
    position: static;
    float: none;
    margin: auto;
    margin-top: 12em;
    width: 80vw;
  }

  #tommi {
    display: none;

  }

  #tommi-desc {
    display: none;
  }


  footer {
    height: 1000px;
    display: block;
    top: 500px;
  }

  .footer-right {
    width: 100vw;
    height: 1100px;
    display: block;
  }

  .footer-right h1 {
    width: 80vw;
    margin-top: 22%;
    line-height: 2;
    font-size: 35pt;
  }



  .footer-left {
    width: 100vw;
    display: block;
    clear: both;
    height: auto;
    padding-top: 5em;
  }

  .footer-left ul {
    display: block;
    width: 80vw;
    padding: 0;
    margin: auto;
  }

  .footer-left ul img {
    margin: 0;
    width: 80px;
    margin-top: 2em;
  }

  .footer-left li {
    font-size: 30pt;
  }

  #copyright {
    font-size: 28pt;
  }




}






@media screen and (min-width: 1800px) {

  .header-container {
    height: 1000px;
  }

  .left {
    height: 1000px;
  }


  .right {
    height: 1000px;
  }

  #carousel {
    height: 1000px;
    left: 51vw;
    animation: slidein-lg 1s ease-in;
  }

  .header-text {
    padding-top: 5em;
  }

  .design-body {
    top: 100px;
    height: 850px;
  }

  #secondslice {
    visibility: visible;
  }

  #appmockup {
    width: 35vw;
    left: 0;
  }

  .team {
    top: 600px;
  }

  .mockup-text {
    padding-top: 32%;
  }

  footer {
    top: 800px;
  }


  .footer-right h1 {
    font-size: 23pt;
    margin-top: 11.5%;
  }
}
